# Install lib1 from the my-multi-lib-repo repository
git+https://github.com/michael-riha/github-python-mono-libs.git@main#egg=lib1&subdirectory=lib1

# Install lib2 from the my-multi-lib-repo repository
git+https://github.com/michael-riha/github-python-mono-libs.git@main#egg=lib2&subdirectory=lib2

# Include debugpy for remote debugging
debugpy==1.6.6